
<html>
  <head>
    <title>Baśnioteka - katalog postaci baśniowych</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Patrick+Hand&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag "application","special","lightbox", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "jquery-1.7.2.min.js"%>
    <%= javascript_include_tag "lightbox.js"%>
  </head>
  <body>
    <div class="wrap">
      <div class=home>
        <%= image_tag('logo.png', :class=>"basnikon")%>
        <h5> Katalog postaci baśniowych </h5>
      </div>
      <div class="about">
        Baśnikon to projekt dyplomowy przygotowany pod kierunkiem prof. dra hab. Grzegorza Bilińskiego.<br />
        WZiKS UJ, kierunek: kulturoznawstwo, specjalność: elektroniczne przetwarzanie informacji.<br />
        Projekt zrealizowała Małgorzata Nowak lubie.pracowac@gmail.com<br />
        Kraków 2012
        <h5><%=link_to "&#8592  powrót".html_safe, home_path %> </h5>
      </div>
      <footer>
        <p>Małgorzata Nowak &#169 <%= Time.now.year %><br />
           <%=link_to "o stronie", about_path%>
        </p>
      </footer>
    </div>
  </body>
</html>
